/* App.css - 전역 스타일 */
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8; /* 부드러운 회색 계열 배경 */
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    cursor: pointer;
    background-color: #667eea; /* 부드러운 파란색 */
    color: white;
    border: none;
    border-radius: 20px; /* 더 둥글게 */
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5a67d8; /* 버튼 호버 색 변경 */
}

.weather-container,
.category-buttons,
.search-box {
    text-align: center;
    padding-top: 20px;
}

.weather-info {
    background-color: #ffffff;
    border-radius: 20px; /* 둥글게 */
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    border: 1px solid #ccc;
}

.weather-info p {
    margin: 10px 0;
}

.weather-info p:nth-child(odd) {
    font-weight: bold;
}
